#name {
  display: flex;
  flex-direction: row;
}

#name>h2 {
  padding: 0px 0px 0px 15px;
  font-size: 36px;
}

.avatar {
  width: 200px;
} 

.content {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px 16px 24px;
  box-sizing: border-box;
}

pre {
  display: block;
  background-color: #eeeeee;
  border: 1px solid #999999;
}
