.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  width: 200px;
  margin-right: 20px;
}

.main {
  display: flex;
}

.left-panel {
  width: 35%;
  margin-right: 20px;
}

.summary-caption {
  outline: none;
}

.summary-detail {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid gray;
}

.summary-detail p {
  margin-top: 0;
  margin-bottom: 0;
}

.summary-detail p + p {
  margin-top: 0.5rem;
}


.code {
  margin: 0;
  display: block;
  background-color: #eeeeee;
  border: 1px solid #999999;
}

.footer {
  text-align: center;
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.rs-logo {
  width: 70px;
}

.section-title {
  background-color:#0000ff88;
  padding-left: 0.5rem;
  border-radius: 0.3rem;
}